<div class="m-auto mt-10 max-w-[21rem]">
  <div class="mb-6 font-semibold text-center">
    <img class="w-16 m-auto mb-3" src="/assets/logo.png">
    <span>Sign in to Issue Management System</span>
  </div>

  <form class="space-y-3 form-border" action="#" method="POST">
    <div>
      <label for="username" class="label required">Username</label>
      <div class="mt-2">
        <input id="username" name="username" type="text" autocomplete="username" required class="input">
      </div>
    </div>

    <div>
      <div class="flex items-center justify-between">
        <label for="password" class="label required">Password</label>
        <div class="text-sm">
          <a href="#" class="a">Forgot password?</a>
        </div>
      </div>
      <div class="mt-2">
        <input id="password" name="password" type="password" autocomplete="current-password" required class="input">
      </div>
    </div>

    <div>
      <button type="submit" class="primary-button">Sign in</button>
    </div>
  </form>

  <div class="mt-4 helper-border">
    <span class="helper-text">
      This system requires operator to create a new account for user. If you do not have an account, please contact your operator.
    </span>
  </div>

</div>
