<div style="margin:auto; width: 24rem; text-align: center;">
  <img style="margin: auto; width: 10rem;" src="/assets/logo.png">
  <span>Change Password</span>

  <form class="space-y-6" style="text-align:start;" action="#" method="POST">
    <div>
      <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
      <div class="mt-2">
        <input id="email" name="username" type="text" autocomplete="username" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div>
      <label for="currentPassword" class="block text-sm font-medium leading-6 text-gray-900">Current Password</label>
      <div class="mt-2">
        <input id="currentPassword" name="currentPassword" type="password" autocomplete="currentPassword" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div>
      <label for="newPassword" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
      <div class="mt-2">
        <input id="newPassword" name="newPassword" type="password" autocomplete="newPassword" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div>
      <label for="confirmNewPassword" class="block text-sm font-medium leading-6 text-gray-900">Confirm New Password</label>
      <div class="mt-2">
        <input id="confirmNewPassword" name="confirmNewPassword" type="password" autocomplete="confirmNewPassword" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div>
      <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Change Password</button>
    </div>
  </form>

  <footer>
    Developed by Samoonpride · Senior Project 2023 ©
  </footer>

</div>
