<div class="m-auto mt-10 max-w-[21rem]">
  <div class="mb-6 font-semibold text-center">
    <img class="w-16 m-auto mb-3" src="/assets/logo.png">
    <span>Change Password</span>
  </div>

  <form class="space-y-3 form-border" action="#" method="POST">
    <div>
      <label for="username" class="label required">Username</label>
      <div class="mt-2">
        <input id="username" name="username" type="text" autocomplete="username" required class="input">
      </div>
    </div>

    <div>
      <label for="currentPassword" class="label required">Current Password</label>
      <div class="mt-2">
        <input id="currentPassword" name="currentPassword" type="password" required class="input">
      </div>
    </div>

    <div>
      <label for="newPassword" class="label required">New Password</label>
      <div class="mt-2">
        <input id="newPassword" name="newPassword" type="password" required class="input">
      </div>
    </div>

    <div>
      <label for="confirmNewPassword" class="label required">Confirm New Password</label>
      <div class="mt-2">
        <input id="confirmNewPassword" name="confirmNewPassword" type="password" required class="input">
      </div>
    </div>

    <div>
      <button type="submit" class="primary-button">Change Password</button>
    </div>
  </form>

</div>
