<div class="m-auto mt-10 max-w-[21rem]">
  <div class="mb-6 font-semibold text-center">
    <img class="w-16 m-auto mb-3" src="/assets/logo.png">
    <span>Create a New User</span>
  </div>

  <form class="space-y-3 form-border" action="#" method="POST">
    <div>
      <label for="role" class="label required">Role</label>
      <div class="mt-2">
        <select id="role" class="select">
          <option>Staff</option>
          <option>Operator</option>
        </select>
      </div>
    </div>

    <div>
      <label for="username" class="label required">Username</label>
      <p class="label-helper-text">
        This is the username that user will have to use to sign in to this website.
      </p>
      <div class="flex mt-2 space-x-1">
        <input id="username" name="username" type="text" required class="input">
        <button type="button" class="alternative-button">
          <img src="assets/dice.svg" class="w-7" />
        </button>
      </div>
    </div>

    <div>
      <button type="submit" class="primary-button">Create</button>
    </div>
  </form>

</div>
