<div id="issue-detail-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-[80vh] max-h-full p-4">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 mx-5 border-b rounded-t">
              <h3 class="font-semibold text-gray-900 text-md grow">
                  #0001
              </h3>
              <div class="text-sm text-right text-gray-600">
                <p>
                  CREATED AT:
                </p>
                <p>
                  LAST MODIFIED AT:
                </p>
              </div>
          </div>
          <!-- Modal body -->
          <div class="p-8">
              <form class="space-y-4" action="#">
                  <div class="space-y-4">
                    <div>
                      <div class="flex">
                        <p class="block mb-2 text-sm font-medium text-gray-900">Assignee</p>
                        <button class="mx-4" type="button" data-dropdown-toggle="dropdownSearch" data-dropdown-placement="right">
                          <svg class="text-gray-800 size-4 mb-[8px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13v-2a1 1 0 0 0-1-1h-.8l-.7-1.7.6-.5a1 1 0 0 0 0-1.5L17.7 5a1 1 0 0 0-1.5 0l-.5.6-1.7-.7V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.8l-1.7.7-.5-.6a1 1 0 0 0-1.5 0L5 6.3a1 1 0 0 0 0 1.5l.6.5-.7 1.7H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.8l.7 1.7-.6.5a1 1 0 0 0 0 1.5L6.3 19a1 1 0 0 0 1.5 0l.5-.6 1.7.7v.8a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.8l1.7-.7.5.6a1 1 0 0 0 1.5 0l1.4-1.4a1 1 0 0 0 0-1.5l-.6-.5.7-1.7h.8a1 1 0 0 0 1-1Z"/>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div>
                      <p class="block mb-2 text-sm font-medium text-gray-900">Description</p>
                      <textarea class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
                    </div>

                    <div>
                        <p class="block mb-2 text-sm font-medium text-gray-900">Medias</p>
                        <div class="grid grid-cols-6 gap-6 mx-auto">
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                          <div class="border-[1px] border-gray-300 rounded-lg size-20"></div>
                        </div>
                    </div>

                    <div>
                      <p class="block mb-2 text-sm font-medium text-gray-900">Location</p>
                      <textarea class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
                    </div>

                  </div>
                <div class="flex justify-end space-x-2">
                  <button class="w-24 destructive-button">Delete</button>
                  <div class="grow"></div>
                  <div class="text-xs">
                    <p>Status</p>
                    <select class="h-6 py-0 input">
                      <option>In Consideration</option>
                      <option>In Progress</option>
                      <option>Completed</option>
                      <option>Suspended</option>
                      <option>Duplicated</option>
                      <option>Spam</option>
                    </select>
                  </div>
                  <button type="button" class="w-20 mb-[8px] mr-[8px] alternative-button" data-modal-hide="issue-detail-modal">Cancel</button>
                  <button type="button" class="w-20 primary-button">Save</button>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Dropdown menu -->
<div id="dropdownSearch" class="z-50 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
  <div class="p-3">
    <label for="input-group-search" class="sr-only">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 flex items-center pointer-events-none rtl:inset-r-0 start-0 ps-3">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <input type="text" id="input-group-search" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search user">
    </div>
  </div>
  <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
    <li>
      <div class="flex items-center rounded ps-2 hover:bg-gray-100 dark:hover:bg-gray-600">
        <input id="checkbox-item-11" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="checkbox-item-11" class="w-full py-2 text-sm font-medium text-gray-900 rounded ms-2 dark:text-gray-300">Bonnie Green</label>
      </div>
    </li>
    <li>
      <div class="flex items-center rounded ps-2 hover:bg-gray-100 dark:hover:bg-gray-600">
          <input checked id="checkbox-item-12" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="checkbox-item-12" class="w-full py-2 text-sm font-medium text-gray-900 rounded ms-2 dark:text-gray-300">Jese Leos</label>
        </div>
    </li>
    <li>
      <div class="flex items-center rounded ps-2 hover:bg-gray-100 dark:hover:bg-gray-600">
        <input id="checkbox-item-13" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="checkbox-item-13" class="w-full py-2 text-sm font-medium text-gray-900 rounded ms-2 dark:text-gray-300">Michael Gough</label>
      </div>
    </li>
    <li>
      <div class="flex items-center rounded ps-2 hover:bg-gray-100 dark:hover:bg-gray-600">
        <input id="checkbox-item-14" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="checkbox-item-14" class="w-full py-2 text-sm font-medium text-gray-900 rounded ms-2 dark:text-gray-300">Robert Wall</label>
      </div>
    </li>
    <li>
      <div class="flex items-center rounded ps-2 hover:bg-gray-100 dark:hover:bg-gray-600">
        <input id="checkbox-item-15" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="checkbox-item-15" class="w-full py-2 text-sm font-medium text-gray-900 rounded ms-2 dark:text-gray-300">Joseph Mcfall</label>
      </div>
    </li>
    <li>
      <div class="flex items-center rounded ps-2 hover:bg-gray-100 dark:hover:bg-gray-600">
        <input id="checkbox-item-16" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="checkbox-item-16" class="w-full py-2 text-sm font-medium text-gray-900 rounded ms-2 dark:text-gray-300">Leslie Livingston</label>
      </div>
    </li>
    <li>
      <div class="flex items-center rounded ps-2 hover:bg-gray-100 dark:hover:bg-gray-600">
        <input id="checkbox-item-17" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="checkbox-item-17" class="w-full py-2 text-sm font-medium text-gray-900 rounded ms-2 dark:text-gray-300">Roberta Casas</label>
      </div>
    </li>
  </ul>
</div>
