<div id="issue-detail-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-[80vh] max-h-full p-4">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow">
          <!-- Modal header -->
          <div class="items-center justify-between p-4 mx-5 border-b rounded-t">
              <h3 class="font-semibold text-gray-900 text-md">
                  #{{issue.issueId}}
              </h3>
          </div>
          <!-- Modal body -->
          <div class="p-8">
              <form class="space-y-4" action="#">
                  <div class="space-y-4">
                    <div>
                      <div class="flex">
                        <p class="block mb-2 text-sm font-medium text-gray-900">Assignees</p>
                      </div>
                      <div class="p-3">
                        <label class="sr-only">Search</label>
                        <div class="relative">
                          <div class="absolute inset-y-0 flex items-center pointer-events-none rtl:inset-r-0 start-0 ps-3">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                          </div>
                          <input [(ngModel)]="issueDetailStaffSearch" name="issueDetailStaffSearch" (keyup)="staffSearchChange()" type="text" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search user">
                        </div>
                      </div>
                      <ul class="h-32 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
                        <li *ngFor="let staff of queriedStaffs;">
                          <div class="flex items-center rounded ps-2 hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input type="checkbox" [checked]="selectedStaffs.includes(staff)" (change)="staffSelectCheckboxChange(staff)" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label class="w-full py-2 text-sm font-medium text-gray-900 rounded ms-2 dark:text-gray-300">{{staff.username}}</label>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div>
                      <p class="block mb-2 text-sm font-medium text-gray-900 required">Description</p>
                      <textarea [(ngModel)]="issue.title" name="title" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
                    </div>

                    <div>
                      <div class="flex space-x-3">
                        <p class="block mb-2 text-sm font-medium text-gray-900 required">Medias</p>
                        <button class="h-5 alternative-button" (click)="fileUpload()">
                          <svg class="text-gray-800 size-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                          </svg>
                        </button>
                        <input type="file" (change)="selectedFilesChange($event.target)" id="file" style="display:none;"/>
                      </div>
                      <div class="grid grid-cols-6 gap-6 mx-auto">
                        <div *ngFor="let srcSelectedFile of srcSelectedFiles;" class="border-[1px] border-gray-300 rounded-lg size-20">
                          <img src="{{srcSelectedFile}}" class="object-cover size-20"/>
                        </div>
                      </div>
                    </div>

                    <div>
                      <p class="block mb-2 text-sm font-medium text-gray-900 required">Location</p>
                      <app-leaflet-map height="200px" [latitude]="location.lat" [longtitude]="location.lng" (markerEvent)="markerEventHandle($event)"></app-leaflet-map>
                    </div>

                  </div>
                <div class="flex justify-end space-x-2">
                  <div class="grow"></div>
                  <div class="text-xs">
                    <p>Status</p>
                    <select class="h-6 py-0 input" [(ngModel)]="selectedStatus" name="selectedStatus">
                      <option *ngFor="let status of statuses;" [value]="status">{{status}}</option>
                    </select>
                  </div>
                  <button type="button" class="w-20 mb-[8px] mr-[8px] alternative-button" data-modal-hide="issue-detail-modal">Cancel</button>
                  <button type="button" class="w-20 primary-button" (click)="onSaveHandle()">Save</button>
                </div>
              </form>
          </div>
      </div>
  </div>
