<div class="flex">
  <span class="text-3xl font-semibold">Issue Dashboard</span>
  <button class="uppercase w-28 primary-button" data-modal-target="issue-create-modal" data-modal-toggle="issue-create-modal">create</button>
</div>

<div class="flex flex-wrap items-center justify-between w-3/4 py-4 m-auto space-y-4 flex-column md:flex-row md:space-y-0">
  <div class="relative">
      <div class="absolute inset-y-0 flex items-center pointer-events-none rtl:inset-r-0 start-0 ps-3">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input type="text" id="table-search-users" class="px-12 input" placeholder="Search for issues">
  </div>
</div>

<hr>

<div class="grid grid-cols-1 gap-6 mx-auto lg:grid-cols-2 w-3/4 lg:w-[95vh]">
  <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow">
    <div class="grow">
      <div class="flex">
        <div class="border-[1px] border-gray-300 rounded-lg size-16"></div>
        <div class="grow"></div>
        <div class="bg-gray-800 rounded-full size-10">
          <svg class="w-10 h-10 p-1 text-[#93BFB7]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
      <div class="py-2 text-gray-700">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="flex items-end">
      <div class="grow">
        <p class="text-sm font-semibold text-gray-800">#0001</p>
      </div>
      <button class="px-4 py-1 alternative-button" data-modal-target="issue-detail-modal" data-modal-toggle="issue-detail-modal">
        Edit
      </button>
    </div>
  </div>

  <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow">
    <div class="grow">
      <div class="flex">
        <div class="border-[1px] border-gray-300 rounded-lg size-16"></div>
        <div class="grow"></div>
        <div class="bg-gray-300 rounded-full size-10">

        </div>
      </div>
      <div class="py-2 text-gray-700">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="flex items-end">
      <div class="grow">
        <p class="text-sm font-semibold text-gray-800">#0002</p>
      </div>
      <button class="px-4 py-1 alternative-button" data-modal-target="issue-detail-modal" data-modal-toggle="issue-detail-modal">
        Edit
      </button>
    </div>
  </div>

  <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow">
    <div class="grow">
      <div class="flex">
        <div class="border-[1px] border-gray-300 rounded-lg size-16"></div>
        <div class="grow"></div>
        <div class="bg-gray-800 rounded-full size-10">
          <svg class="w-10 h-10 p-1 text-[#93BFB7]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
      <div class="py-2 text-gray-700">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="flex items-end">
      <div class="grow">
        <p class="text-sm font-semibold text-gray-800">#0003</p>
      </div>
      <button class="px-4 py-1 alternative-button" data-modal-target="issue-detail-modal" data-modal-toggle="issue-detail-modal">
        Edit
      </button>
    </div>
  </div>

  <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow">
    <div class="grow">
      <div class="flex">
        <div class="border-[1px] border-gray-300 rounded-lg size-16"></div>
        <div class="grow"></div>
        <div class="bg-gray-800 rounded-full size-10">
          <svg class="w-10 h-10 p-1 text-[#93BFB7]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
      <div class="py-2 text-gray-700">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="flex items-end">
      <div class="grow">
        <p class="text-sm font-semibold text-gray-800">#0004</p>
      </div>
      <button class="px-4 py-1 alternative-button" data-modal-target="issue-detail-modal" data-modal-toggle="issue-detail-modal">
        Edit
      </button>
    </div>
  </div>

  <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow">
    <div class="grow">
      <div class="flex">
        <div class="border-[1px] border-gray-300 rounded-lg size-16"></div>
        <div class="grow"></div>
        <div class="bg-gray-800 rounded-full size-10">
          <svg class="w-10 h-10 p-1 text-[#93BFB7]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
      <div class="py-2 text-gray-700">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="flex items-end">
      <div class="grow">
        <p class="text-sm font-semibold text-gray-800">#0005</p>
      </div>
      <button class="px-4 py-1 alternative-button" data-modal-target="issue-detail-modal" data-modal-toggle="issue-detail-modal">
        Edit
      </button>
    </div>
  </div>

</div>

<app-issue-detail-modal></app-issue-detail-modal>
<app-issue-create-modal></app-issue-create-modal>
