<div>
  <div class="flex">
    <span class="mx-auto mt-10 mb-10 text-3xl font-semibold">Activity Logs</span>
  </div>

  <hr>

  <div class="relative w-3/4 m-auto overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-700 rtl:text-right">
        <thead class="text-xs text-gray-700 uppercase">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
            </tr>
        </tbody>
    </table>
  </div>
</div>
