<div class="m-auto mt-10 max-w-[21rem]">
  <div class="mb-6 font-semibold text-center">
    <img class="w-16 m-auto mb-3" src="/assets/logo.png">
    <span>Account Registration Submitted</span>
  </div>

  <form class="pb-6 space-y-3 form-border" action="#" method="POST">

    <div>
      <label for="username" class="label required">Username</label>
      <div>
        <input id="username" name="username" type="text" required class="input" [value]="newStaff?.username" readonly>
      </div>
    </div>
  </form>

  <div class="mt-5 helper-border">
    <p class="helper-text">
      Your account registration has been submitted for review. After operator reviews your request, you will gain access to the application.
    </p>
  </div>

</div>
